@media (max-width: 360px) {
    .keys {
        margin: -200px 0 0 -190px;
        height: 390px;
        width: 390px;
    }
    
    .keys .key {
        width: 18vw;
        height: 18vw;
        border: 2px solid #8c6339;
        margin: 6px;
    }
    
    .key-caption p {
        display: none;
    }
    
    .key-caption span {
        font-size: 2.2vw;
    }
}

@media (max-width: 480px) {
    .keys {
        margin: -180px 0 0 -152px;
        height: 390px;
        width: 390px;
    }
    
    .keys .key {
        width: 18vw;
        height: 18vw;
        border: 2px solid #8c6339;
        margin: 6px;
    }
    
    .key-caption p {
        display: none;
    }
    
    .key-caption span {
        font-size: 1.6vw;
    }
}

@media (max-width: 768px) {
    .keys {
        margin: -200px 0 0 -360px;
        height: 750px;
        width: 750px;
    }
    
    .keys .key {
        width: 18vw;
        height: 18vw;
        border: 2px solid #8c6339;
        margin: 6px;
    }
    
    .key-caption p {
        display: none;
    }
    
    .key-caption span {
        font-size: 1.8vw;
    }
}

